//
// Chopstick settings
//

// Debug

$debug-mode					: false; // toggles the debug mode

// Typography

$show-baseline-grid			: false; // toggle the visibility of the baseline (true/false)
$baseline-holder 			: holder; // set the classname of the element which will show the baseline
$grid-color 				: rgba(#000,.1); // set the baseline grid color and opacity

// $alpha-font-family			: "Nitti Grotesk", sans-serif;
// $alpha-font-family			: "nudista-web", sans-serif;
// $alpha-font-family			: "runda", sans-serif;
$alpha-font-family			: "ff-basic-gothic-web-pro", sans-serif;
$alpha-font-size			: 20; // pixel-value
$alpha-line-height			: 1.5;
$alpha-baseline-grid		: 7; // pixel-value
$alpha-leading				: 1; // multiplier

$alpha-font-weight			: 200;
$beta-font-weight			: 400;
$gamma-font-weight			: 700;

// Grid

$grid-gutter				: 32;
$grid-column				: 72;
$grid-columns				: 12;

// Breakpoints calculated in em's, always based on 16px base-value

$bp1						: 320/$alpha-font-size*1em;
$bp2 						: 480/$alpha-font-size*1em;
$bp3						: 680/$alpha-font-size*1em;
$bp4						: 960/$alpha-font-size*1em;
$bp5						: 1140/$alpha-font-size*1em;
$bp6						: 1440/$alpha-font-size*1em;

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                       : 11;
$ms-2						: 12;
$ms-1						: 14;
$ms1						: 18;
$ms2						: 21;
$ms3						: 23;
$ms4						: 28;
$ms5						: 31;
$ms6						: 37;
$ms7						: 42;
$ms8						: 50;
$ms10 						: 56;
$ms11						: 67;
$ms12						: 75;
$ms13						: 89;
$ms14						: 100;

// UI

$radius						: 5px;
$border-width				: 1px;
$border-style				: solid;
$depth						: 0%; // Range: 0-100%
$contrast					: 91%; // Range: 0-100%
$shadow						: 21%; // Range: 0-100%
$highlight					: 0%; // Range: 0-100%

//
// Color variables (defaults by https://github.com/mrmrs/colors)
//
// - Cool
// - Warm
// - Gray Scale
// - Semantic
//

// hipster gradients
// LightSteelBlue
// Khaki PaleGoldenRod
// Lavender thistle
// CornflowerBlue
// Salmon
// SkyBlue
// LightCoral
// LightGreen
// LightSalmon
// PaleTurquoise
// LightBlue
//
// PowderBlue

// Cool

$aqua						: #d1eaec;
$blue						: #52a3cc;
$navy						: #001F3F;
$teal						: #39CCCC;
$green						: #52cc85;
$olive						: #3D9970;
$lime						: #01FF70;

// Warm

$yellow						: #FFDC00;
$orange						: #FF851B;
$red						: #ff6673;
$fuchsia					: #F012BE;
$purple						: #B10DC9;
$maroon						: #85144B;

// Gray Scale

$white						: #fff;
$silver						: #ddd;
$gray						: #aaa;
$black						: #000;

$lavender 					: #E6E6FA;
$khaki 						: #F0E68C;

// Primary elements
$alpha-ui-color				: $lavender;

// Secondary elements
$beta-ui-color				: $gray;

// Used for borders
$gamma-ui-color				: $silver;

// text colors
$alpha-text-color			: hsl(hue($alpha-ui-color),5,10);
$beta-text-color			: hsl(hue($alpha-ui-color),5,30);
$gamma-text-color			: hsl(hue($alpha-ui-color),5,45);
$delta-text-color			: hsl(hue($alpha-ui-color),5,60);
$jota-text-color			: hsl(hue($alpha-ui-color),5,75);
$mu-text-color				: hsl(hue($alpha-ui-color),5,90);
$pi-text-color				: hsl(hue($alpha-ui-color),5,95);
$rho-text-color				: hsl(hue($alpha-ui-color),5,97.5);

$border-color 				: $alpha-text-color;

$error-color 				: $red;
$success-color 				: $green;
$notice-color 				: $yellow;

// Links

$alpha-link-color			: $alpha-ui-color;
$alpha-link-colorhover		: darken($alpha-link-color, 10);
$alpha-link-colorfocus		: darken($alpha-link-color, 10);
$alpha-link-coloractive		: lighten($alpha-link-color, 10);
$alpha-link-colorvisited	: darken($alpha-link-color, 5);
