//
// Frame
//

#mfPreviewBar {
	display: none;
}

.holder {
	@extend %clearfix;
	@include padding-top(1);

	@include mq($bp2) {
		@include padding-top(2);
		// @include padding-tb(2,1);
		@include padding-lr(1,1);
	}

	@include mq($bp3) {
		// @include padding-tb(6,4.5);
		@include padding-top(3);		
		// @include padding-tb(3,2);		
		@include padding-lr(2,2);		
	}

}

//
// Header
//

// .holder--header {
// 	background-color: #fff;
// }

.logo {
	float: left;
	// font-family: $alpha-font-family;
	// font-family: "Univers Pro 65 Bold";
	// font-family: "Nitti Grotesk";
	// font-weight: 700;
	// font-family: $beta-font-family;
	// font-weight: 300;


	a {
		display: block;
		text-decoration: none;
		border: none;
		background: none;
		@include text-dimensions($alpha-font-size,1);

		// &:hover,
		// &:focus {
		// 	// color: $alpha-text-color;
		// }

	}

}

//
// main
//

.main-holder {

	@include mq($bp2) {
		@include padding-tb(2,.5);
	}

	@include mq($bp5) {
		@include padding-tb(3,1.5);
	}

}


//
// Footer
//

.holder--footer {
	border: none;
	// opacity: .75;

	// @include mq($bp5) {
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	@include padding-bottom(2);
	// }

	@include mq($bp2) {
		@include padding-bottom(1);	
	}

	@include mq($bp3) {
		@include padding-bottom(3);				
	}

}
