//
// Base
// ---
// Default markup for the most common HTML elements, based on the settings file.
//

*, *:before, *:after {
  box-sizing: inherit;
  // color: #fff;
}

html {
	box-sizing: border-box;
	min-height: 100%;
	font:  $alpha-font-size/16*100%/#{$alpha-line-height} $alpha-font-family ;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;

	background-attachment: fixed;	
	background-color: $black;
	// background-image: linear-gradient(Palegoldenrod, Khaki);
	// background-image: linear-gradient(Lavender, thistle);
	// background-image: linear-gradient(Lavender, ALICEBLUE);
	// background-image: linear-gradient(Lavender, Azure);
	// background-image: linear-gradient(LIGHTCYAN, LIGHTSTEELBLUE);
	// background-image: linear-gradient(Snow, LINEN);
	// background-image: linear-gradient(Ivory, Beige);
	// background-image: linear-gradient(MINTCREAM, HONEYDEW);
	// background-image: linear-gradient(MINTCREAM, Azure);

	@include mq($bp3) {
		background-attachment: fixed;
		font-size: $alpha-font-size/16*112.5%;
	}

	@include mq($bp4) {
		font-size: $alpha-font-size/16*125%;
	}

	@include mq($bp5) {
		font-size: $alpha-font-size/16*137.5%;
	}

	@include mq($bp6) {
		font-size: $alpha-font-size/16*150%;
	}	

}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	// color: $alpha-text-color;
	color: $alpha-ui-color;
}

::-moz-selection {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color, 65%);
	text-shadow: none;
}

::selection {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color, 65%);
	text-shadow: none;
}

hr {
	border: 1px solid $beta-ui-color-light;
	border-width: 1px 0 0;
	clear: both;
	margin-top: 0;
	@include margin-bottom(1);
}

//
// Fix a > img problem
//

img {
	vertical-align: top;
	border: 0;
}
