@import url("//hello.myfonts.net/count/2d8838");

@font-face {
	font-family: 'Adagio_Serif';
	src: 	url('../fonts/2D8838_1_0.eot');
	src: 	url('../fonts/2D8838_1_0.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2D8838_1_0.woff2') format('woff2'),
			url('../fonts/2D8838_1_0.woff') format('woff'),
			url('../fonts/2D8838_1_0.ttf') format('truetype');
	font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}
 
@font-face {
	font-family: 'Adagio_Serif';
	src: 	url('../fonts/2D8838_0_0.eot');
	src: 	url('../fonts/2D8838_0_0.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2D8838_0_0.woff2') format('woff2'),
			url('../fonts/2D8838_0_0.woff') format('woff'),
			url('../fonts/2D8838_0_0.ttf') format('truetype');
	font-weight:  800;
    font-style:   normal;
    font-stretch: normal;
}
 
@font-face {
	font-family: 'Adagio_Serif';
	src: 	url('../fonts/2D8843_0_0.eot');
	src: 	url('../fonts/2D8843_0_0.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2D8843_0_0.woff2') format('woff2'),
			url('../fonts/2D8843_0_0.woff') format('woff'),
			url('../fonts/2D8843_0_0.ttf') format('truetype');
	font-weight:  600;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
	font-family: 'Tiempos Text';
	src: 	url('../fonts/TiemposTextWeb-Regular.eot');
	src: 	url('../fonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),			
			url('../fonts/TiemposTextWeb-Regular.woff') format('woff');		
	font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: 	url('../fonts/MaisonNeueTRIAL-Book.otf');
	// src: 	url('../fonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),			
	// 		url('../fonts/TiemposTextWeb-Regular.woff') format('woff');		
	font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}